*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 80%;
    height: 80vh;
    display: inline;
    place-items: center;
    background: #000046;
    
}

.general{
    margin:auto;
    margin-top: 50px;
    width: 960px;
    height: 850px;
    background-color: #917322;
}

.registro { 
    float: right;
    display: inline;
    width: 250px;
    height: 650px;
    background-color: #ccc5b7;
    margin-left: 5px;
    text-align: center;
}

.registro li{
   font-size: medium;
   text-align: center;
   list-style-type: none;
}

.jugadores{
    width: 960px;
    height: 100px;
    background-color: #fff;
    display: block;
    margin-bottom: 20px;
}

.jugadores .jugador1{
    display: inline;
    float: left;
}

.jugadores .jugador2{
    display: inline;
    float:right;
}


.tablero {
    width: 650px;
    height: 650px;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(8,1fr);
    background-color: #fff;
    border:dotted thin black;
    margin-right: 5px;
}
.tablero *{
    text-align: center;
    font-size:35px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    user-select: none;
}
.tablero *:hover{
    font-weight: 600;
}
.a{
    background-color: #a5682a;
}

.rendirse{
    width: 20px;
    height: 10px;
    display: flex;
    align-items: center;
}
