*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 80%;
    height: 80vh;
    display: grid;
    place-items: center;
    background: #000046;
    
}

.general{
    margin:auto;
    margin-top: 50px;
    width: 940px;
    height: 850px;
    background-color: #6f5d44;
}

.registro { 
    float: right;
    display: inline;
    width: 200px;
    height: 500px;
    background-color: #ccc5b7;
}

.jugadores{
    width: 940px;
    height: 100px;
    background-color: #fff;
    display: block;
}


.tablero {
    width: 600px;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(8,1fr);
    background-color: #fff;
    border:dotted thin black;
}
.tablero *{
    text-align: center;
    font-size:35px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    user-select: none;
}
.tablero *:hover{
    font-weight: 500;
}
.a{
    background-color: #a5682a;
}


